<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(event) -%>">

  <%= link_to event.title, edit_admin_event_path(event)%>

  <div class="icons">
    <%= link_to 'View', event_url(event), :class=> 'view', :target => "_blank" %>
  
    <%= link_to 'Delete', admin_event_path(event), :class=> 'cancel confirm-delete delete', :title => t('.delete'),
    :'data-confirm' => t('shared.admin.delete.message',
        :title => t('.delete')
      ),
        :'data-method' => :delete %>
  </div>
  <div class="date">
    <span class="from"><label><%= t('from') %></label><p><%= event.from.strftime("%B %d, %Y, %H:%Mh")%></p></span>
    <span class="to"><label><%= t('to') %></label><p><%= event.to.strftime("%B %d, %Y, %H:%Mh") %></p></span>
  </div>
  <div class="location">
    <p><%= event.location %></p>
    <%= link_to '4.32312,  -5.3231', event_url(event), :class=> 'coords', :target => "_blank" %>
  </div>
  
</li>
